body {
  background-image: url("../images/united-squares-negative.jpg");
}

.textcolor {
  color: #777777;
}

.name {
  background-color: #4aaaa5;
  color: #777777;
}

.head {
  background-color: #ffffff;
  margin: 0 auto;
  position: relative;
}

a {
  display: block;
  font-size: 20px;
  padding: 10px;
  color: #666666;
  float: right;
}

ul {
  list-style-type: none;
  padding: 0px;
  background-color: #ffffff;
  color: #777777;
  position: relative;
  float: right;
  max-height: 50px;
}

a:hover {
  color: black;
}
a:focus {
  background-color: rgba(141, 170, 182, 0.616);
  color: #666666;
}

a:active {
  color: aquamarine;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
.maincontent {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;

  line-height: 20px;
  background-color: #ffffff;
  border-color: #dddddd;

  border-style: solid;
  left: 200px;
  color: #777777;
  margin: 20px auto;
}
.aboutme {
  color: #4aaaa5;
}

h1 {
  font-weight: bolder;
  font-size: 30px;
  padding: 5px;
}

.content {
  padding: 5px;
  font-size: 20px;
  width: fit-content;
  position: relative;
  line-height: 30px;
  
}
.mainimage{
 
  float: left;
}
footer {
  position: relative;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  background-color: #666666;
  border-top: 8px solid #4aaaa5;
  margin-top: 60px;
  padding: 10px;
  color: #777777;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* Porfolio images styling */


.portfolioimages {
 
  background-size: contain;
  /* width: 250px; */
  max-width: 100%;
  height: auto;
  border: 2px solid;
  color: blue;
  position: relative;

  margin: 10px 10px;
  z-index: 1;
}
.img1 {
  position: relative;
  float: left;
}


.imagename {
  width: 50%;
  max-height: 200px;
  top: 60%;
  margin: 0px 20px 0px 20px;
  padding: 10px 50px;
  font-size: 10px;
  color: #dddddd;
  position: absolute;
  background-color: #4aaaa5;
  z-index: 1;
  text-align: center;
  font-weight: bolder;
  overflow: hidden;
}

/* Contact styling */

label:hover {
  background-color: lightgrey;
}




